<div class="main">
    <div class="title"> 
        Text Input
    </div>
    <div class="desc">
            Can you name one of the three companies that established Adapt as a community led Open Source project?
    </div>
   <div class="subdesc">
       <b>  Input your answer and select Submit.</b>
   </div>
   <div class="component">
       <div class="component1">
            <input type="text" placeholder="Input text">
       </div>
       <div class="component2">
            <input type="button" value="Submit">

       </div>
   </div>
  
</div>
