<div class="main">
    <div class="title"> 
        
        {{divdata.title}}
    </div>
    <div class="desc">
            {{divdata.description}}
    </div>
   <div class="subdesc">
       <b> {{divdata.subtitle}}</b>
   </div>
   <div class="component">
       <div class="component1" id="comp1">
            <input type="text" placeholder="Input text">
            {{component}}
       </div>
       <div class="component2">
            <input type="button" value="Submit" >

       </div>
   </div>
  
</div>
