<div class="reusableComponent" id="example2">
    <p>example2 works!</p>
    <form #exampleForm="ngForm" (click)="onSave(exampleForm)" class="colorPickerForm" >
        <input #title type="text" name="title" placeholder="Title" ngModel><br>
        <input #subtitle type="text" name="subtitle" placeholder="Sub Title" ngModel><br>
        <textarea #description rows="4" cols="50" name="description" placeholder="Description" ngModel >
            Enter description here...</textarea><br>
        <button type="submit" (click)="addPostMessage(exampleForm)" >Send</button>
    </form>
  
</div>
